 

.red {
    background-color: red;
    height: 10px;
}

.cyan {
    background-color: cyan;
    height: 10px;
}

.violet {
    background-color: violet;
    height: 10px;
}

.orange {
    background-color: orange;
    height: 10px;
}

.pink {
    background-color: pink;
    height: 10px;
}

.center {
    height: 40px;
    width: 40px;
}